<div class="card mb-3">
    <div class="card-body">
        <div *ngIf="isEdit; else viewMode">
            <form [formGroup]="blogForm">
                <div class="mb-3">
                    <label for="Text" class="form-label">Blog Text</label>
                    <textarea id="Text" formControlName="Text" name="Text" class="form-control" rows="5"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" formControlName="UsernameName" name="username"
                            class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="DateCreated" class="form-label">Date Created</label>
                        <input id="DateCreated" formControlName="DateCreated" name="DateCreated"
                            class="form-control">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-success me-2" (click)="saveBlog()">Save</button>
                    <button type="button" class="btn btn-secondary" (click)="cancelEditBlog()">Cancel</button>
                </div>

            </form>
        </div>
        <ng-template #viewMode>
            <div>
                <div class="card-text border-black fixed-height">{{ blog.text }}</div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <div class="m-sm-2">
                            <label><strong>Created By: &nbsp;</strong></label>
                            <label>{{ blog.username }}</label>
                        </div>
                        <div class="m-sm-2">
                            <label ><strong>Created Date: &nbsp;</strong></label>
                            <label>{{ blog.dateCreated | date:'dd/MM/yyyy' }}</label>
                        </div>
    
                    </div>
    
                    <div>
                        <button type="button" class="btn btn-primary me-2" (click)="editBlog()">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteBlog()">Delete</button>
                    </div>
                </div>
                
            </div>


        </ng-template>
    </div>
</div>